body {
    background-color: #1B73E8;
    color: white;
    padding: 0;
    margin: 0;
    border: 4px solid white;
}

.container {
    width: auto;
    height: auto;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 15px;
}

.coin-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 45vh;
    overflow: scroll;
    margin: 15px 0 0 0;
}

.price-cell {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    text-shadow: 2px 2px 5px black;
}

.price-cell > h3:first-of-type {
    margin-right: 8px;
    color: #48dde8;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmokes;
    margin: 15px 0 -15px 0;
}

.updater {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#update-time {
    margin: 0 0 0 4px;
}

.credit {
    margin-top: -15px;
    color: #48dde8;
} 

