body {
    width: fit-content;
    background-color: #1B73E8;
    color: white;
    padding: 0;
    margin: 0;
    border: 4px solid white;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Tahoma, sans-serif;
    max-height: 500px;
    margin: 15px 0;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > h1,h2,h3,h4,h5,h6{
    white-space: nowrap;
}
#title {
    margin: 0px 15px;
}

#coin-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: safe center;
    min-height: 150px;
    max-height: 250px;
    padding: 0 15px 0 15px;
    margin: 15px 5px 0 5px;
    overflow-y: scroll;
}

.price-cell {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 5px black;
    height: 50px;
    width: auto;
}

.price-cell > h3:first-of-type {
    margin-right: 8px;
    color: #48dde8;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmokes;
    margin: 15px 0 -20px 0;
}

#update-time {
    margin: 0 0 0 4px;
}

.updater, .credit {
    display: block;
    text-align: center;
}
.credit {
    margin-top: -15px;
    color: #48dde8;
} 

.credit:hover{
    color: #f1a81e;
}

.credit-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 3px 0 0 0;
}
   
   .credit-link:hover {
    color: rgb(173, 119, 119);
}  

   .credit-logo {
    width: 5%;
    height: auto;
    vertical-align: middle;
}
