body {
    background-color: #80b0aa;
    color: black;
    padding: 0;
    margin: 0;
}

.container {
    width: auto;
    height: auto;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 15px;
}

.coin-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-cell > h3 {
    display: inline;
}